*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    height: 100%;
}

body{
    min-height: 100%;
}

.gridContainer{
    display: grid;
    gap: 10px;
    grid-template-areas: "header header"
                         "pushImg form"
                         "footer footer"
                        ;
    grid-template-rows: 50px auto 50px;
    grid-template-columns: 50%;
}


.header{
    grid-area: header;
    background-color: aquamarine
}

.form{
    grid-area: form;
    background-color: rgb(40, 53, 18);
}

.footer{
    grid-area: footer;
    background-color: rgb(31, 11, 14);
}

.pushImg{
    grid-area: pushImg;
    background-color: blueviolet;
}