*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
}


.gridContainer{
    display: grid;
    gap: 10px;
    grid-template-areas: "header header"
                         "pushImg form"
                         "footer footer"
                        ;
    grid-template-rows: 50px auto 50px;
    grid-template-columns: 50%;
}
.header{
    grid-area: header;
    background-color: 
    rgb(255, 174, 69)
}

.form{
    grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: -webkit-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%);
}
.form label{
    display: inline-block;
    text-align: right ;
}
.pedido{
    align-items: center;
    align-content: center;
    
}
.footer{
    grid-area: footer;
    background-color:  rgba(255, 174, 69, 0.596);
}

.pushImg{
    grid-area: pushImg;
    background-color: rgb(219, 100, 45);
}

/*Diseño de InputButton*/
#input.form{
    margin-top: 10px;
    display: inline-flex;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: rgba(255, 170, 59, 0.678);
}
#input.form:hover {
    border: solid #000000 1px;
    background: rgb(255, 174, 69);
    background-image: -webkit-linear-gradient(top, rgb(255, 166, 50), rgba(255, 215, 162, 0.877));
    background-image: -moz-linear-gradient(top, rgb(255, 166, 50), rgba(255, 215, 162, 0.877));
    background-image: -ms-linear-gradient(top, rgb(255, 166, 50), rgba(255, 215, 162, 0.877));
    background-image: -o-linear-gradient(top, rgb(255, 166, 50), rgba(255, 215, 162, 0.877));
    text-decoration: none;
 }
#input.form:active {
	box-shadow:inset #ffffff 0px 5px 8px -1px,#d6d6d6 1px 0 2px;
	o-box-shadow:inset #ffffff 0px 5px 8px -1px,#d6d6d6 1px 0 2px;
	-moz-box-shadow:inset #ffffff 0px 5px 8px -1px,#d6d6d6 1px 0 2px;
	-webkit-box-shadow:inset #ffffff 0px 5px 8px -1px,#d6d6d6 1px 0 2px;
	position:relative;
	top:3px;
}


/* select styles */
select{
    background-color: #ef8874;
    cursor: pointer;
}  
select:hover{
    color: #ffffff
}
  select option {
  background: #ffffff00;
  cursor: pointer;
  }
  