*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
    height: 100%;
}

body{
    min-height: 100%;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
  }
  select::-ms-expand {
    display: none;
  }
  select {
    outline: none;
  }

  :root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
  }
  
.gridContainer{
    display: grid;
    gap: 10px;
    grid-template-areas: "header header"
                         "pushImg form"
                         "footer footer"
                        ;
    grid-template-rows: 50px auto 50px;
    grid-template-columns: 50%;
}


.header{
    grid-area: header;
    background-color: 
    rgb(255, 174, 69)
}

.form{
    grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}    
.form select{
    justify-items: center;
    align-items: center;
   display: inline-flex;
   width: 100%;
   border: 2px solid var(--select-border);
}
.form input{
    justify-items: center;
    align-items: center;
}

.form label{
    display: inline-block;
    text-align: right ;
}
.pedido{
    align-items: center;
    align-content: center;
    
}

.select{
    align-self: center;
    align-items: center;
}



.footer{
    grid-area: footer;
    background-color: rgb(31, 11, 14);
}

.pushImg{
    grid-area: pushImg;
    background-color: blueviolet;
}